/* General style adjustments */

html {
  font-size: 10px;
  font-family: "Spartan", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c2c2a3;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 5.2rem;
  color: #c2c2a3;
  text-transform: capitalize;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 10px;
  word-spacing: 10px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 25px;
}

h2,
h3,
h4 {
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-transform: capitalize;
}

h2 {
  font-size: 3rem;
  margin-top: 80px;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p,
ol,
ul,
a {
  font-size: 1.8rem;
}

li > li {
  font-size: 0.85em;
}

/* NAVBAR */

nav {
  background-color: chocolate;
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav > div {
  /* border: 2px solid black; */
  text-align: center;
  margin-right: 3%;

  /* flex: 50px; */
}

/* MENU LINKS */
nav > div > a {
  text-decoration: none;
  font-weight: bold;
  color: #c2c2a3;
  /* text-shadow: 2px 2px 2px black; */
  font-size: 2.2rem;
}

nav > div > a:link {
  color: green;
}

nav > div > a:visited {
}

nav > div > a:active {
  color: chocolate;
  background-color: #c2c2a3;
}

/* PAGE DESIGN */

header {
  background-color: #b12c00;
  min-height: 150px;
  text-align: center;
}

.pagenav {
  background-color: black;
  color: white;
  font-weight: bold;

  margin: 5vw;
  padding: 5vw;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 175px;
}

.content {
  background-color: #f5f5ef;
  box-shadow: 5px 5px 8px black;

  margin: 5vw;
  padding: 5vw;
  padding-top: 30px;
  padding-bottom: 30px;
}
