/* General style adjustments */

html {
  font-size: 10px;
  font-family: "Spartan", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  color: #c2c2a3;
  text-transform: capitalize;
  text-shadow: 3px 3px 3px black;
  letter-spacing: 8px;
  word-spacing: 8px;

  margin-top: 0;
  padding: 25px;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

p,
ol,
ul {
  font-size: 1.8rem;
}

/* Page Design */

header {
  background-color: #b32400;
  min-height: 150px;
  text-align: center;
  margin: -8px;
}

body {
  background-color: #c2c2a3;
}

.content {
  background-color: #f5f5ef;

  border: 0.5px solid black;
  margin: 2vw;
  padding: 5vw;
  padding-top: 30px;
  padding-bottom: 30px;
}
